test/n8n-nodes-binalyze-air-spec.json
{
  "createdAt": "2025-06-22T09:28:38.297Z",
  "updatedAt": "2025-06-22T10:24:20.000Z",
  "id": "8cLdwBFE3AC1wv2E",
  "name": "n8n-nodes-binalyze-air-spec",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "00d96ab3-fde4-433c-8848-7d2fc7b36f18",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "autoassettags",
        "additionalFields": {
          "organizationId": {
            "mode": "id",
            "value": "0"
          }
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "7c7d3171-26d7-40f7-b0a4-842902388f9e",
      "name": "Asset Tags / Get Many",
      "credentials": {
        "airApi": {
          "id": "HRFJVg9kKyaIJx0w",
          "name": "Binalyze AIR Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "autoassettags",
        "operation": "get",
        "autoAssetTagId": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        460,
        -120
      ],
      "id": "563ecc67-49c4-4700-9c43-5168f8dc6d76",
      "name": "Asset Tags / Get By ID",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "HRFJVg9kKyaIJx0w",
          "name": "Binalyze AIR Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "autoassettags",
        "operation": "get",
        "autoAssetTagId": {
          "__rl": true,
          "value": "={{ $json.tag }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "id": "5b706d18-fa7b-499f-9155-90a88cf52c86",
      "name": "Asset Tags / Get By Name",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "HRFJVg9kKyaIJx0w",
          "name": "Binalyze AIR Credentials account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Asset Tags / Get Many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Tags / Get Many": {
      "main": [
        [
          {
            "node": "Asset Tags / Get By ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Asset Tags / Get By Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d76b8d52-28b7-48ad-8314-9969d25038a1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-22T09:28:38.302Z",
      "updatedAt": "2025-06-22T09:28:38.302Z",
      "role": "workflow:owner",
      "workflowId": "8cLdwBFE3AC1wv2E",
      "projectId": "ruqBk4A4CrNidITj",
      "project": {
        "createdAt": "2025-05-28T13:26:44.924Z",
        "updatedAt": "2025-05-28T13:27:17.681Z",
        "id": "ruqBk4A4CrNidITj",
        "name": "Emre TINAZTEPE <emre@binalyze.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-28T13:26:44.924Z",
            "updatedAt": "2025-05-28T13:26:44.924Z",
            "role": "project:personalOwner",
            "userId": "39c4a85b-f852-44a1-8e02-2deeaa8d667a",
            "projectId": "ruqBk4A4CrNidITj",
            "user": {
              "createdAt": "2025-05-28T13:26:44.706Z",
              "updatedAt": "2025-06-10T08:21:04.472Z",
              "id": "39c4a85b-f852-44a1-8e02-2deeaa8d667a",
              "email": "emre@binalyze.com",
              "firstName": "Emre",
              "lastName": "TINAZTEPE",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-28T13:27:26.919Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}