test/n8n-nodes-binalyze-air-e2e.json
{
  "createdAt": "2025-07-25T16:25:11.284Z",
  "updatedAt": "2025-07-25T18:25:57.000Z",
  "id": "2ijKwO3bfGHSaKwY",
  "name": "n8n-nodes-binalyze-air-e2e",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -96
      ],
      "id": "94fd90e3-840d-42dd-b049-ee058ea47035",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "acquisitions",
        "acquisitionProfileId": {
          "__rl": true,
          "value": "baseline-acquisition-for-comparison",
          "mode": "list",
          "cachedResultName": "Baseline Acquisition for Comparison"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        -176,
        -480
      ],
      "id": "87c1b533-62c4-405c-8c65-a24a592d89f5",
      "name": "Get an acquisition profile",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "acquisitions",
        "operation": "assignEvidenceTask",
        "organizationId": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze",
          "cachedResultUrl": "b28890fcb2744fad"
        },
        "caseId": {
          "__rl": true,
          "value": "C-2025-0002",
          "mode": "list",
          "cachedResultName": "n8n Test Case"
        },
        "acquisitionProfileIdForTask": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        },
        "taskName": "n8n Acquisition Task",
        "saveToLocation": "repository",
        "repositoryId": {
          "__rl": true,
          "value": "702f651c-b3e3-46c4-9061-33811a5a90be",
          "mode": "list",
          "cachedResultName": "Azure Blob (azure-storage)"
        },
        "endpointFilters": {
          "assetName": "WORKSTATION"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        48,
        -480
      ],
      "id": "5b9122b7-0200-4118-b0cd-db7d60c1b8cc",
      "name": "Assign an evidence acquisition task",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assets",
        "additionalFields": {}
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        -176,
        -288
      ],
      "id": "98f78da9-968a-4c99-b93e-a03e846198a6",
      "name": "Get many assets",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assets",
        "operation": "get",
        "assetId": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        48,
        -288
      ],
      "id": "a74f640a-ac70-4154-9adc-79f3b5b82dc8",
      "name": "Get an asset",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assets",
        "operation": "getAssetTasks",
        "assetId": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        272,
        -384
      ],
      "id": "bdc05928-26ae-434f-9997-69503fcdcc21",
      "name": "Get asset tasks",
      "executeOnce": false,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assets",
        "operation": "addTags",
        "tags": "=asset-tag-1,asset-tag-2",
        "organizationId": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze",
          "cachedResultUrl": "b28890fcb2744fad"
        },
        "filterOptions": {
          "name": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        272,
        -192
      ],
      "id": "95b83112-96b7-42f5-abe4-0ad22fa0f8e3",
      "name": "Add tags to assets",
      "executeOnce": false,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assets",
        "operation": "removeTags",
        "tags": "asset-tag-1",
        "organizationId": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze",
          "cachedResultUrl": "b28890fcb2744fad"
        },
        "filterOptions": {
          "tags": "asset-tag-1"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        496,
        -192
      ],
      "id": "01521ad0-30e2-4fd3-baf5-5609dfdfb953",
      "name": "Remove tags from assets",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repositories",
        "operation": "getAll",
        "organizationId": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze",
          "cachedResultUrl": "b28890fcb2744fad"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        -176,
        -96
      ],
      "id": "6868f25a-3e00-4eb9-8b95-8f379164a063",
      "name": "Get many repositories",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repositories",
        "repositoryId": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        48,
        -96
      ],
      "id": "b1d431d0-43da-4cf9-a2d3-9a2c0985b147",
      "name": "Get a repository",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "users",
        "organizationId": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze",
          "cachedResultUrl": "b28890fcb2744fad"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        -176,
        288
      ],
      "id": "d5925c74-f54e-4be5-898b-0c41dc73f566",
      "name": "Get many users",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "users",
        "operation": "get",
        "userId": {
          "__rl": true,
          "value": "={{ $json._id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        48,
        288
      ],
      "id": "e9ec5228-05c9-4646-8fd2-b8def3fa5aa8",
      "name": "Get a user",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tasks",
        "organizationIds": {
          "__rl": true,
          "value": "0",
          "mode": "list",
          "cachedResultName": "Binalyze"
        },
        "additionalFields": {
          "name": "n8n"
        }
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        -176,
        96
      ],
      "id": "7e91601b-751c-4516-b07b-5f9614bcf0b5",
      "name": "Get many tasks",
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tasks",
        "operation": "get",
        "taskId": "={{ $json._id }}"
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        48,
        96
      ],
      "id": "3051574e-d629-4e57-a877-943136d11b27",
      "name": "Get a task",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tasks",
        "operation": "getTaskAssignments",
        "taskId": "={{ $json._id }}"
      },
      "type": "n8n-nodes-binalyze-air.air",
      "typeVersion": 1,
      "position": [
        272,
        96
      ],
      "id": "69a6f6eb-2728-47d3-88fb-b976179f3691",
      "name": "Get task assignments",
      "executeOnce": true,
      "credentials": {
        "airApi": {
          "id": "zkdMrFV62yPoc4KE",
          "name": "Binalyze AIR account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get an acquisition profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many repositories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an acquisition profile": {
      "main": [
        [
          {
            "node": "Assign an evidence acquisition task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many assets": {
      "main": [
        [
          {
            "node": "Get an asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an asset": {
      "main": [
        [
          {
            "node": "Get asset tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add tags to assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags to assets": {
      "main": [
        [
          {
            "node": "Remove tags from assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign an evidence acquisition task": {
      "main": [
        []
      ]
    },
    "Get many repositories": {
      "main": [
        [
          {
            "node": "Get a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many users": {
      "main": [
        [
          {
            "node": "Get a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Get task assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b2d8f44a-c268-4862-ab29-697c9c88ceed",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-25T16:25:11.296Z",
      "updatedAt": "2025-07-25T16:25:11.296Z",
      "role": "workflow:owner",
      "workflowId": "2ijKwO3bfGHSaKwY",
      "projectId": "llHxnpzVncfHqefW",
      "project": {
        "createdAt": "2025-05-26T10:21:01.302Z",
        "updatedAt": "2025-05-26T10:21:30.128Z",
        "id": "llHxnpzVncfHqefW",
        "name": "Emre Tinaztepe <emre@binalyze.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-26T10:21:01.302Z",
            "updatedAt": "2025-05-26T10:21:01.302Z",
            "role": "project:personalOwner",
            "userId": "5f63a800-7f35-4ceb-b857-df8cc34579ab",
            "projectId": "llHxnpzVncfHqefW",
            "user": {
              "createdAt": "2025-05-26T10:21:01.143Z",
              "updatedAt": "2025-07-25T18:22:30.000Z",
              "id": "5f63a800-7f35-4ceb-b857-df8cc34579ab",
              "email": "emre@binalyze.com",
              "firstName": "Emre",
              "lastName": "Tinaztepe",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-26T10:21:44.129Z",
                "personalization_survey_n8n_version": "1.93.0",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "2ijKwO3bfGHSaKwY",
                "userActivatedAt": 1753461200870
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-07-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}